@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
}
.container {
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  padding: 25px 30px;
  border-radius: 30px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
form .user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3 ease;
}
form .user-details .input-box input:focus,
form .user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .gendre-details .gendre-title {
  font-size: 20px;
  font-weight: 500;
}
form .gendre-details .catogary {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
form .gendre-details .catogary label {
  display: flex;
  align-items: center;
}
form .gendre-details .catogary .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
#dot-1:checked ~ .catogary label .one,
#dot-2:checked ~ .catogary label .two,
#dot-3:checked ~ .catogary label .three {
  border-color: #d9d9d9;
  background: #9b59b6;
}
